* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: aliceblue;
}

header {
    height: 100vh;
    width: 100vh;
    background-color: black;
    background-size: cover;
}

/* .navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
} */

.navbar a {
    color: white;
}

.navbar .logo {
    font-size: 3em;
    font-weight: bold;
}

/* .navbar .nav-links ul {
    display: flex;
} */

/* .navbar .nav-links ul li {
    margin: 0 25px;
} */

.mobile-menu {
    margin-left: 0;
}

@media screen and (max-width : 900px) {
    .navbar {
        padding: 0;
    }

    .navbar .logo {
        position: absolute;
        top: 34px;
        left: 50px;
    }

    .navbar .menu-hamburger {
        display: block;
        position: absolute;
        width: 35px;
        right: 30px;
        top: 40px;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.418);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.5em;
        font-weight: bold;
    }

    .square_content.mobile-menu {
        display: none;
    }

    .compteur-content.mobile-menu {
        display: none;
    }

    .compteur {
        position: absolute;
        bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .compteur-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #compteur-de-vues {
        font-size: 1.5rem;
        margin: 0;
        filter: blur(32px);
        transition: 0.5s;
    }

    .square {
        text-align: center;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
    }

    .square_content {
        background-color: rgba(59, 59, 59, 0.459);
        border-radius: 40px;
        transition: all 0.5s ease;
        padding: 20px;
        margin: 30px;
    }

    .icons {
        justify-content: center;
        display: block;
    }

    .icon {
        width: 50px;
        margin: 10px;
    }

}


@media screen and (min-width : 900px) {
    #compteur-de-vues {
        font-size: 3rem;
        margin: 0;
        filter: blur(32px);
        transition: 0.5s;
    }

    .navbar .menu-hamburger {
        display: none;
    }

    .icon:hover {
        box-shadow: 0px 0px 80px rgba(255, 255, 255, 0.39);
        background-color: rgba(161, 161, 161, 0.116);
    }
    .navbar .nav-links ul li a:hover {
        color: rgba(255, 255, 255, 0.842);
    }


    /* tout */
    
    /* .navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    } */

    .navbar .logo {
        position: absolute;
        top: 34px;
        left: 50px;
    }

    /* .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.418);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
    } */

    .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links ul {
        display: inline-flex;
        align-items: center;
        margin: 45px;
    }

    .navbar .nav-links ul li {
        margin: 0px 25px;
        font-size: 2em;
        font-weight: bold;
    }

    #home {
        display: none;
    }

    /* reste */
    .square {
        text-align: center;
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
    }

    .square_content {
        background-color: rgba(59, 59, 59, 0.459);
        border-radius: 40px;
        transition: all 0.5s ease;
        padding: 40px;
        margin: 30px;
        font-size: 1.5em;
    }

    .icons {
        justify-content: center;
        display: block;
    }

    .icon {
        width: 50px;
        height: auto;
        margin: 15px;
    }
    
    .compteur {
        position: absolute;
        bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .compteur-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #compteur-de-vues {
        font-size: 1.5rem;
        margin: 0;
        filter: blur(32px);
        transition: 0.5s;
    }
}

.compteur-content img {
    width: 30px;
    height: 100%;
    margin: 20px;
}

